## Use for CPU
tensorflow==1.15.2

## Uncomment if you have CUDA-enabled GPU
# tensorflow-gpu==1.15.2

keras==2.2.4
cython
h5py==2.8.0
scikit-image==0.15.0
opencv-python==4.1.1.26
matplotlib
jupyter

pep8==1.7.1
pillow==8.3.2
pyflakes==2.1.1
pylint==2.4.2
requests==2.22.0
wxpython==4.0.6

